h1 {
    font-size: 36px;
    text-align: center;
    color: gray;
    }
    .block{
      border: 20px solid rgb(238, 153, 74);
      background-color: rgb(238, 153, 74);
    }
    .presentation-contenu {

        display: inline-block;
        }
        .bloc-1 {
        width: calc( 100%);
        height: 200px;
        display: inline-block;

        }
        .bloc-2 {
        width: calc( 100%);
        height: 200px;
        display: inline-block;
        text-align: right;
        }
